h1 {
	border-bottom: 1px solid gray;
}

h2 {
	text-align: right;
}

.email {
	color: gray;
	text-decoration: none;
}

.extra-text {
	color: gray;
	text-align: right;
}

.description {
	border-left: 1px solid gray;
}